@import 'variables.css';

:root {
  font-family: 'Source Sans Pro', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  text-align: left;
}

nav a:after {
  content: '|';
  padding: 0 10px;
}

nav a:last-child:after {
  content: '';
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 30px 0;
  text-align: left;
}

.card {
  padding: 2em;
}

#app {
  width: 950px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.group-chart-container {
  margin-bottom: 50px;
  width: 100%;
}
.multiples-chart-container {
  display: inline-block;
  height: 100px;
  padding-bottom: 45px;
  width: 25%;
}
.chart-header {
  margin-left: -20px;
  margin-top: -50px;
}
h5 {
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}
p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.chart-header {
  display: flex;
  flex-flow: row;
  margin-left: -20px;
  margin-top: -45px;
}
.icon-flag {
  align-self: start; 
  border-radius: 50%;
  margin-right: 5px;
  width: 25px;
}



  

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
